{% extends "CoutureGestionBundle:Couture:index.html.twig" %}
{% block main %}
    <div class="row">
        <div class="col-md-9">
        	<center><h4 class="panel-heading alert-danger">Formulaire d'ajout d'une nouvelle commande</h4></center>
            <hr class="colorgraph">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <div class="panel panel-success">
                    <div class="panel-heading"><center><h4>Nouveau client</h4></center></div>
                    <div class="panel-body">
                        <a href="{{ path("couture_gestion_couture_new_add_commande")}}" class="list-group-item"><button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Nouvelle Commande</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-danger">
                    <div class="panel-heading"><center><h4>Client potentiel</h4></center></div>
                    <div class="panel-body">
                        <a href="{{ path("couture_gestion_couture_potential_add_commande")}}" class="list-group-item"><button type="button" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-plus"></span> Nouvelle Commande</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="col-md-3">
            
            
        </div>
    </div>
{% endblock %}