{% extends "CoutureGestionBundle::template1.html.twig" %}
{% block contain_menu_left %}
	<ul class="list-group">
		<li class="list-group-item alert-success"><span class="btn-block"><a href="{{ path("couture_gestion_couture_list_commande")}}"><span class="glyphicon glyphicon-book"></span> Mes commandes</a></span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><span class="glyphicon glyphicon-gift"></span> Livraison commande</span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><span class="glyphicon glyphicon-usd"></span> Honoration dettes</span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><a href="{{ path("couture_gestion_couture_add_client")}}"><span class="glyphicon glyphicon-user"></span> Nouveau client</a></span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><a href="{{ path("couture_gestion_couture_list_client")}}"><span class="glyphicon glyphicon-th"></span> Liste client</a></span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><a href="{{ path("couture_gestion_couture_list_modele")}}"><span class="glyphicon glyphicon-tags"></span>  Mes modèles</a></span></li>
	</ul>
{%endblock%}