{% extends "CoutureGestionBundle::template1.html.twig" %}
{% block contain_menu_left %}
	<ul class="list-group">
		<li class="list-group-item alert-success"><span class="btn-block"><span class="glyphicon glyphicon-book"></span> Nouvelle vente</span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><span class="glyphicon glyphicon-remove"></span> Annulation vente</span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><span class="glyphicon glyphicon-th"></span> Liste vente</span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><span class="glyphicon glyphicon-list-alt"></span> Ajout produit</span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><span class="glyphicon glyphicon-th-list"></span> Classification produit</span></li>
		<li class="list-group-item alert-success"><span class="btn-block"><span class="glyphicon glyphicon-gift"></span> Promotion</span></li>
	</ul
{%endblock%}